<!-- HELP ME -->
<div ng-controller="dialogCtrl">
	<div id="delete_screen" ng-click="closeHelpPanel()" ng-show="deleteMapDialogVisible">
	<div class="delete_box">
	<img src="./img/delete_map_ico.png" class="delete_action"/>
	<p>Está seguro de querer eliminar el mapa:</p>
	<p class="map_to_delete"> {{selectedMap.title}}</p>
	<div class="new_poi_buttons cent">
				<a class="poi_accept" href="#"  ng-click="acceptDialog()">Si, bórralo</a>
				<a class="poi_discard" href="#" ng-click="cancelDialog()">Cancelar</a>
			</div>
	</div>	
	</div>
</div>
