<!-- EDIT MAP -->
<div ng-controller="editMapCtrl">
	<div id="edit_map_desc">
		<div class="panel">
			<div class="panel_header2">
				<h3 class="edit_map_icon">Editar mapa</h3>
				<div class="popup_closer" ng-click="closePanelWithId('edit_map_desc')"></div>
			</div>

			<div class="panel_body">
				<form name="newUserForm" method="post">
					<div class="panel_option">

						<div class="form_line">
							<div class="form_box_left">
								<label>Nombre del mapa:</label>
							</div>
							<div class="form_box_right">
								<input type="text" ng-model="selectedMap.title"  />
							</div>
						</div>
<div class="form_line">
							<div class="form_box_left">
								<label>Opciones del mapa:</label>
							</div>
							
						</div>
						<div class="form_public">
							<div>
								<label class="remind_label">Hacer el mapa p&uacuteblico?</label>
								<label
								class="switch-light switch-candy  switcher">
									<input
									type="checkbox"
									ng-model="publicMap">
									<span> <span>No</span> <span>Si</span> </span> <a></a> </label>
							</div>
						</div>
						<div class="form_public">
							<div>
								<label class="remind_label">Mapa colaborativo?</label>
								<label
								class="switch-light switch-candy  switcher">
									<input
									type="checkbox"
									ng-model="collaborativeMap">
									<span> <span>No</span> <span>Si</span> </span> <a></a> </label>
							</div>
						</div>

					</div>
					<div class="save_profile">
						<div class="update_button" ng-click="updateSelectedMap()">
							Aceptar
						</div>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
