<!-- HELP ME -->
<div ng-controller="helpCtrl">
	<div id="help_screen" ng-click="closeHelpPanel()" ng-show="helpVisible">
		<div class="help_title">
			Ayuda de mapas colaborativos Zaragoza
		</div>

		<div class="help_box">
			<div class="help_icon"><img src="./img/tool_create.png"/>
			</div>
			<div class="help_text">
				<p class="tool_title">
					Modo edición de mapa
				</p>
				<p class="tool_desc">
					Activa o desactiva el modo edición para mapas propios o colaborativos
				</p>
			</div>
		</div>

		<div class="help_box">
			<div class="help_icon"><img src="./img/tool_create.png"/>
			</div>
			<div class="policy_text">
				<p class="tool_title">
					Crear nuevo POI
				</p>
				<p class="tool_desc">
					Crea puntos en tu mapa y añadirles título y descripción
				</p>
			</div>
		</div>

		<div class="help_box">
			<div class="help_icon"><img src="./img/tool_settings.png"/>
			</div>
			<div class="help_text">
				<p class="tool_title">
					Editar datos del mapa
				</p>
				<p class="tool_desc">
					Modifica el nombre del mapa, publícalo o actívalo en modo colaborativo
				</p>
			</div>
		</div>

		<div class="help_box">
			<div class="help_icon"><img src="./img/tool_save.png"/>
			</div>
			<div class="help_text">
				<p class="tool_title">
					Guardar
				</p>
				<p class="tool_desc">
					Guarda la información que hayas creado o modificado en el modo edición
				</p>
			</div>
		</div>
		<div class="start">
			Ok, entendido
		</div>

	</div>
</div>
