<!-- MAIN MENU -->
<div id="black_fader" ng-click="fade_back()" ng-swipe-left="fade_back()"></div>
<div id="main_menu"  ng-controller="menuCtrl">

	<div class="menu_options">

		<div ng:class="{true:'menu_option', false:'menu_opt_disabled'}[account_id != undefined]" ng-click="openNewMapPanel()">

			<img src="img/new_map_ico.png" />
			<h2>Nuevo mapa</h2>
		</div>

		<div class="menu_option" ng-click="openPublicMapsPanel()">
			<img src="img/public_map_ico.png" />
			<h2>Mapas públicos</h2>
		</div>
		<div ng-hide="account_id == undefined" class="menu_option" ng-click="openUserMapsPanel()">
			<img src="img/my_map_ico.png" />
			<h2>Mis mapas</h2>
		</div>

		<div ng-show="account_id == undefined" class="menu_option" ng-click="openNewUserPanel()">
			<img src="img/new_user.png" />
			<h2>Nuevo Usuario</h2>
		</div>
		<div ng-show="account_id != undefined" class="menu_option" ng-click="openMyProfilePanel()">
			<img src="img/profile_icon.png" />
			<h2>Perfil</h2>
		</div>
		<div ng-show="account_id == undefined" class="menu_option" ng-click="openLoginPanel()">
			<img src="img/login_icon.png" />
			<h2>Acceso usuarios</h2>
		</div>

	</div>

	<div class="pestana" ng-click="toggle_main_menu()" ng-swipe-left="toggle_main_menu()" ng-swipe-right="toggle_main_menu()">
		<div id="boton_despliega">
			<img src="img/v_slide_spots.png" />
		</div>
	</div>

</div>