<!-- NEW USER -->
<div ng-controller="profileCtrl">
	<div id="new_user">
		<div class="panel">
			<div class="panel_header">
				<h3 class="profile_icon">Nuevo Usuario</h3>
				<div class="popup_closer" ng-click="closePanelWithId('new_user')"></div>
			</div>

			<div class="panel_body">
					<form name="newUserForm" method="post">
						<div class="panel_option">

							<div class="form_line">
								<div class="form_box_left">
									<label>Nombre:</label>
								</div>
								<div class="form_box_right">
									<input type="text" placeholder="Obligatorio" ng-model="profileData.name"  />
								</div>
							</div>
							
							<div class="form_line">
								<div class="form_box_left">
									<label>Correo electr&oacutenico:</label>
								</div>
								<div class="form_box_right">
									<input type="text" placeholder="Obligatorio" ng-model="profileData.email" required/>
								</div>
							</div>
							<div class="form_line">
								<div class="form_box_left">
									<label>Password:</label>
								</div>
								<div class="form_box_right">
									<input type="password" placeholder="Obligatorio" ng-model="profileData.password" required/>
								</div>
							</div>
							 <div class="form_line">
								<div class="form_box_left">
									<label>Repite password:</label>
								</div>
								<div class="form_box_right">
									<input type="password" placeholder="Obligatorio" ng-model="profileData.passwordConfirm" />
								</div>
							</div> 
							
							<div class="form_line">
								<div class="form_box_left">
									<label>DNI: <span>(opcional)</span></label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="profileData.nif" />
								</div>
							</div>
							
							
							<div class="form_remind">
						    	<div>
								<label class="remind_label">Centro escolar:</label>
								<toggle-switch style="align-rigth" model="profileData.school"
									on-label="Sí" off-label="No"> <toggle-switch>
							  </div>
						    </div>							

						</div>


						<div class="save_profile">
							<div class="update_button" ng-click="createNewUser()">Entrar</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
		