<!-- LAST COMPLAINT LIST -->
<meta charset="utf-8" />
<div ng-controller="publicMapsListCtrl">
	<div id="publicMaps">
		<div class="panel">
			<div class="panel_header">
				<h3 class="public_maps_icon title">Mapas públicos</h3>
				<div class="popup_closer" ng-click="closePanelWithId('publicMaps')"></div>
			</div>

			<div class="panel_body">
				<form name="complaintForm" novalidate>
					<div class="panel_option">
						<h4 class="personal">Listado de últimos mapas</h4>
						<div class="comment"
						ng-repeat="map in publicMaps | orderBy: '-lastUpdated'" ng-click="showMap(map)">
							<div class="map_name_list">
								<p class="complait_title">
									{{map.title}}
								</p>
							</div>
							<p>
								<div class="date">
									<span>Tipo :</span> {{map.type == "public" ? "Público": "Colaborativo"}}
								</div>
								<div class="date">
									<span>Ultima actualización :</span> {{map.lastUpdated | date:'dd/MM/yyyy - HH:mm'}}
								</div>
							</p>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
