/*APP FONTS*/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
		url(../fonts/OpenSans-Regular.ttf);
}

/* END FONTS*/

body {
	background-color: #E7EAEC;
	margin: 0;
	overflow: hidden;
	height:100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

input{	-webkit-tap-highlight-color:rgba(0,0,0,0)!important; outline:none!important;}
*:focus  {  outline: none;  }
#my_location_btn {
	border-radius: 5px 5px 5px 5px;
	position: absolute;
	height: 3em;
	right: 1em;
	bottom: 2em;
	width: 3em;
	z-index: 20;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	outline:none;
}

.my_location_btn_normal{
	background: url("../img/my_location_icon.png") no-repeat center center #333;
	display: block;
    margin: 1px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10000000;
    height: 22px;
    width:22px; 
    line-height: 19px;
}

.my_location_btn_spinner{
	background: url("../img/spiffygif.gif") no-repeat center center #333;
	display: block;
    margin: 1px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10000000;
    height: 22px;
    width:22px; 
    line-height: 19px;
}

.page h1,.page h2 {
	font-size: 12px;
	color: #BCBEC0;
	font-weight: normal;
	margin-top: 0px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#map_name {
 position: absolute;
 width: 100%;
 z-index: 90;
}

#map_name_title{ 
	background: none repeat scroll 0 0 #BA2910;
	border-bottom: 3px solid #A12E37;
 	-webkit-box-shadow: 0px 7px 9px -3px rgba(156, 152, 152, 0.97);
	-moz-box-shadow:    0px 7px 9px -3px rgba(156, 152, 152, 0.97);
	box-shadow:         0px 7px 9px -3px rgba(156, 152, 152, 0.97);}

 .titulo_poi{ 
 	 color: #FFFFFF;
	 font-family: open sans;
	 font-size: 17px;
	 font-weight: bold;
	 margin-left: 1em;
	 padding-top: 0.8em;
	 padding-bottom:0.8em;
	 text-transform: uppercase;
	 width:83%;
 }

.logo_dcha{
 	float: right;
    padding: 0.6em 0.8em;
    position: absolute;
    right: 0;
    top: 0;
}

#edit_map {
	 position:fixed;
	 transform: translate3d(0px, 0em, 0px);
	 transition: all 0.2s ease 0s;
	 z-index:1490;
	 width:100%;
}

#map_name_tools {
	 background: none repeat scroll 0 0 #666;
	 border-bottom: 3px solid #555;
	 box-shadow: 0 0 12px #333333;
	 min-height: 3em;
	 width: 100%;
}

#map_name_tools p { 
	 color: #FFFFFF;
	 font-family: open sans;
	 font-size: 17px;
	 font-weight: bold;
	 margin-left: 1em;
	 padding-top: 0.8em;
	 padding-bottom:1em;
	 text-transform: uppercase;
	 width:80%;
}
  
#edit_tools {
	 background: none repeat scroll 0 0 #F2F2F2;
	 width: 100%;
	  border-bottom: 1px solid #CCCCCC;
	 z-index: 90;
	-webkit-box-shadow: 0px 7px 9px -3px rgba(156, 152, 152, 0.97);
	-moz-box-shadow:    0px 7px 9px -3px rgba(156, 152, 152, 0.97);
	box-shadow:         0px 7px 9px -3px rgba(156, 152, 152, 0.97);
}

.tool {
	 background: none repeat scroll 0 0 #BA2910;
	 display: inline-block;
	 height: 3em;
	 border-radius: 6px;
	 margin-bottom: 0.6em;
	 margin-left: 4.7%;
	 margin-top: 0.6em;
	 width: 18%;
	 box-shadow: 0 0 9px #AAAAAA;}
 
.create{background:url(../img/tool_create.png) center center no-repeat #C63E28;}
.help{background:url(../img/tool_help.png) center center no-repeat #C63E28;}
.settings{background:url(../img/tool_settings.png) center center no-repeat #C63E28;}
.save{background:url(../img/tool_save.png) center center no-repeat #C63E28;}
.settings_disabled{background:url(../img/tool_settings.png) center center no-repeat #CCCCCC;}

#black_fader {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#main_menu {
	position: absolute;
	bottom: 0px;
	left: -14em;
	width: 17em;
	height: 100%;
	overflow: hidden;
	z-index: 999;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.menu_options {
	background:url(../img/menu_bg.png) repeat-y #C63E28;
	width: 14em;
	height: 100%;
	float: left;
	display:table;
}

.menu_option {
	text-align: center;
	border-bottom: 1px solid #EE9BA7;
	margin: 0 0.2em;
	display:table-row;
	vertical-align:middle;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	outline:none;
	cursor:pointer;
}

.menu_option h2 {
	color: #FFF;
	font-family: 'Open Sans';
	font-size: 1em;
	font-weight: bold;
}

.menu_option img {
	margin-bottom: 0.5em;
	margin-top: 18%;
}

.menu_option_disabled {
	text-align: center;
	border-bottom: 1px solid #EE9BA7;
	margin: 0 0.2em;
	height: 8em;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	outline:none;
	cursor:none;
	background: #8A0808;
}

.menu_option_disabled h2 {
	color: #848484;
	font-family: 'Open Sans';
	font-size: 1em;
}

.menu_option_disabled img {
	margin-bottom: 0.5em;
	margin-top: 20%;
}

.pestana {
	height: 100%;
	width: 3em;
	float: left;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	outline:none;
}

.menu_opt_disabled {
 opacity:0.2;
 text-align: center;
 border-bottom: 1px solid #EE9BA7;
 margin: 0 0.2em;
 display:table-row;
 vertical-align:middle;
 -webkit-tap-highlight-color:rgba(0,0,0,0);
 outline:none;
 cursor:pointer;
 }

.menu_opt_disabled img{ 
 	 margin-bottom: 0.5em;
	  margin-top: 18%;
}

.menu_opt_disabled h2{color: #FFF;
	 font-family: 'Open Sans';
	 font-size: 1em;
	 font-weight: bold;
 }
 
#boton_despliega {
	position: absolute;
	bottom: 2em;
	background: none repeat scroll 0 0 #C63E28;
	border-radius: 0 5px 5px 0;
	margin-top: 0.53em;
	padding: 8px 0 7px 8px;
	width: 1em;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#map_canvas {
	height: auto;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	position:fixed;
	z-index: 0;  
	margin:0!important;
}

div.olControlZoom {top:4em!important;}

#poi_set{
	font-family:open sans;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	height:100;
	overflow:hidden;
	-webkit-transform: translate3d(0, 0em, 0);
	transform: translate3d(0, 0em, 0);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index:1580;
	text-decoration:none!important;
	padding:10px;
	-webkit-box-shadow: 0px 7px 9px -3px rgba(156, 152, 152, 0.97);
	-moz-box-shadow:    0px 7px 9px -3px rgba(156, 152, 152, 0.97);
	box-shadow:         0px 7px 9px -3px rgba(156, 152, 152, 0.97);
}

#poi_naming{
	font-family:open sans;
	background:#eee;
	width: 100%;
	height:800px;
	overflow:hidden;
	-webkit-transform: translate3d(0, 0em, 0);
	transform: translate3d(0, 0em, 0);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index:1580;
	text-decoration:none!important;
	padding:12px;
}

.poi_set_instruction{
 	 font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
    text-align: center;
    width: 93%;
    margin-bottom:10px;
    }
    
.poi_accept{ background: none repeat scroll 0 0 #C63E28;
    border-radius: 6px;
    color: #FFFFFF;
     margin-right: 24px;
    padding: 12px 22px;
    text-decoration:none;}
    
.poi_discard{ background:#666; color:#FFF;    
    padding: 12px 22px; border-radius:6px; text-decoration:none;}

#poi_info {
	font-family:open sans;
	background:#FFF;
	width: 100%;
	height:auto;
	overflow:hidden;
	-webkit-transform: translate3d(0, 0em, 0);
	transform: translate3d(0, 0em, 0);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index:180;
	text-decoration:none!important;
	-webkit-box-shadow: 0px 7px 9px -3px rgba(156, 152, 152, 0.97);
	-moz-box-shadow:    0px 7px 9px -3px rgba(156, 152, 152, 0.97);
	box-shadow:         0px 7px 9px -3px rgba(156, 152, 152, 0.97);
	border-bottom: 1px solid #DDDDDD;
}

.poi_title{ color: #C63E28!important;
	text-decoration:none!important;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 0.5em;
    padding-top: 0.6em;
    padding-bottom: 8px;}
    
.poi_description{  color: #666666!important;
    font-size: 12px!important;
    line-height: 18px;
    margin-left: 1.3em;
    margin-right: 0.3em;
    padding-bottom: 1em;}

.new_poi_buttons{clear: both;
    margin-bottom: 18px;
    margin-top: 30px;
    width: 95%;}
    
.cent{text-align:center;}

.close_detail{border:1px solid red;}

#edit_map_desc {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
}

#bottom_shadow {
	background: url(../img/infobox_shadow.png) repeat-x;
	height: 1em;
}

.close_info {
	   background: url("../img/close_info_gray_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: right;
    height: 100%;
    width: 3em;
     margin-top: -1.8em;
     -webkit-tap-highlight-color:rgba(0,0,0,0);
     outline:none;
}

.delete_map{float:right;}
.map_name_list{width:88%; float:left;}

#info_box {
	background-color: #FFF;
	height: 4.5em;
	background: url("../img/app_icon_marker.png") no-repeat scroll 1em 0.5em #FFFFFF;
}

#info_box h3 {
    color: #999999;
    float: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    margin-left: 1em;
    padding-left: 3em;
    padding-top: 0.6em;
}


#info_box h3 span {
	color: #C63E28;
	font-weight:bold;
}


.info_point_selected {
	border: 4px solid #C63E28;
}

.info_sensor{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#info_data {
	background-color: #FFF;
	overflow: hidden;
	height: 9em;
}

#info_social {
	background-color: #FFF;
	height: 18em;
	overflow-y: scroll;
	    -webkit-overflow-scrolling: touch;
    	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	outline:none;
}

#info_data p {
	color: #999999;
	font-family: 'Open Sans';
	font-size: 0.9em;
}

#info_data p span {
	border-bottom: 1px dotted #C63E28;
	color: #C63E28;
	padding-left: 0.3em;
}

#select_arrow {
	width: 100%;
	background: url(../img/select_arrow.png) no-repeat 20% 0;
	height: 1.2em;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


.info_bar {
	float: left;
	margin-bottom: 1em;
	margin-left: 5%;
	width: 42%;
}

.text_result {
	clear: both;
	color: #999999;
	float: left;
	font-family: 'Open Sans';
	font-size: 0.9em;
	margin-bottom: 1em;
	margin-top: 0.5em;
	text-align: center;
    width: 100%;
}

.comment_button_area{width:100%; float:left; text-align:center;}

.comment {
    border-radius: 10px;
    margin-bottom: 0.5em;
    margin-right: 3%;
    padding: 0.5em;
	background:#fff;
	 margin-left: 0.2em;
}

#comment_button{
    border: 0 solid;
    border-radius: 4px;
    color: #C63E28;
    font-family: Open sans;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em 2em 1em 3em;
    background:url(../img/coment_button_bg.png)no-repeat 1em 1em #B8D8F0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline:none;}

.comment p {
	clear: both;
	color: #999999;
	font-family:'Open Sans';
	font-size: 0.9em;
	line-height: 1.4em;
	margin-left: 1.8em;
	padding-top: 0.2em;
	width: 92%;
}
.complait_title{display:table-cell; vertical-align:middle; margin:0!important; padding:0!important;color: #C63E28 !important;}

.user_comment {
	color: #2676AE;
	font-family: 'Open Sans';
	margin-bottom: 0.4em;
	background: url(../img/comment_user_icon.png) no-repeat;
	padding-left: 1.5em;
	float: left;
}

.date {
	color: #666;
	font-family: 'Open Sans';
	margin-bottom: 0.4em;
	font-size: 0.8em;
	float: left;
	clear:both;
}

/*********** COMMENTS POPUP *********/

.comments_wrap{
	background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 1300;
    display:none;
    overflow:auto;
    text-align:center;
}

#comment_post{ 
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    height: 23.3em;
    margin: 10% auto;
    top: 0;
    width: 25em;
}
    
.comment_header{
	background: url("../img/profile_icon.png") no-repeat scroll 15px 20px #C63E28;
    height: 4.3em;
    width: 100%;
}
    
.comment_subtitle{
	color: #FFFFFF;
    font-family: Open Sans;
    font-size: 0.8em;
    margin-left: 4em;
    padding-top: 1.2em;
    text-transform: uppercase;
}
    
.comment_title{
	color: #FFFFFF;
    font-family: Open Sans;
    margin-left: 3em;
    padding-left: 0.2em;
    padding-top: 0.5em;
}
    
.rate_by_stars{height: 3em;
    margin-top: 0.8em;}

#comment_post textarea{ 
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 10em;
    margin: 1em;
    color:#999;
    padding: 0.5em;
	width: 88%;
	font-family: 'Open Sans';
    font-size:0.9em;
	border-radius:3px!important;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
    
#comment_post .on {
	background: url(../img/big_star_on.png) no-repeat;
}

#comment_post .off {
	background: url(../img/big_star.png) no-repeat;
}

.titulo_campo{color: #C63E28;
    font-family: Open Sans;
    text-align:center;
    padding-top: 1em;}
    
.number_rated{color: #CCCCCC;
    font-family: Open Sans;
    font-size: 0.8em;
    text-align: center;}
    
.comment_buttons{border-top:1px solid #C63E28; width:100%;}

.accept{ border-right: 1px solid #C63E28;
    color: #C63E28;
    float: left;
    font-family: open sans;
    padding: 1.2em 0;
    text-align: center;
    width: 50%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);}

.cancel{  color: #C63E28;
		float:left; 
		width:49%; 
		 font-family: open sans;
    	padding: 1.2em 0;
		text-align:center;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		}

/*********** POP UP PANEL ********/

.popup_title{
	 color: #C63E28;
	 font-weight: bold;
	 font-family:Open sans;
}

.popup_status{
	 color: #000000;
	 font-weight: bold;
	  font-family:Open sans;
	  font-size:12px;
}

#OpenLayers_Map_5_OpenLayers_Container span:nth-of-type(3){color:#666; font-family:Open sans; font-size:12px;}

#OpenLayers_Map_5_OpenLayers_Container a {background: none repeat scroll 0 0 #A12E37;
font-family:Open sans;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-left: 34%;
    padding: 10px 15px;
    text-decoration: none;}

/************* ROUTE PANELS *********/



.noVisible {
	display: none;
}

#route_pop {
	height: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	z-index: 20;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	overflow: hidden;
}



.popup_closer {
	background: url("../img/close_popup_button.png") no-repeat scroll center center;
	float: right;
  	height: 2em;
    padding: 1em 1em 1em 0.2em;
    width: 3.6em;
}


.data {
	width: 14px;
	height: 14px;
	border: 2px solid #FFF;
	border-radius: 30px;
}

#dashboard {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
}

#dashboard h4{   
    clear: both;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 18px;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 2%;
    margin-top: 0.5em;
    padding-left: 2.5em;
    padding-top: 0.2em;
    text-align: left;
    width: 90%;
}

#dashboard h5{   
    clear: both;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 16px;
    height: 1.4em;
    margin-bottom: 0.3em;
    margin-left: 5%;
    margin-top: 0.5em;
    padding-left: 2.5em;
    text-align: left;
    width: 90%;
}

#dashboard p{
	color: #999999;
    font-family: 'Open Sans';
    font-size: 0.9em;
    line-height: 1.3;
    margin-bottom: 1.5em;
    margin-left: 5%;
    padding-left: 2.8em;
    width: 90%;
}


/************COMPLAINT LIST PANEL *********/
#userMapsPanel {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
}

#userMapsPanel h4{   
    clear: both;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 18px;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 2%;
    margin-top: 0.5em;
    padding-left: 2.5em;
    padding-top: 0.2em;
    text-align: left;
    width: 90%;
}

#userMapsPanel h2{   
    clear: both;
    background: #BDBDBD;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 18px;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 2%;
    margin-top: 0.5em;
    padding-left: 2.5em;
    padding-top: 0.5em;
    text-align: left;
    width: 95%;
    border-bottom: 1px solid;
}

#userMapsPanel h3 .title{   
    clear: both;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 18px;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 2%;
    margin-top: 0.5em;
    padding-left: 2.5em;
    padding-top: 0.2em;
    text-align: left;
    width: 90%;
}

.complaintList_icon{
	background: url("../img/mis_quejas.png") no-repeat scroll 1em rgba(0, 0, 0, 0);
}

#userMapsPanel textarea{ 
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 10em;
    margin: 1em; 
    /* color: #2676AE; */
    padding: 0.5em;
	width: 98%;
	margin-left: 0.5em;
	font-family: 'Open Sans';
    font-size:18px;
	border-radius:3px!important;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	
	}
	
#userMapsPanel p{
	color: #999999;
    font-family: 'Open Sans';
    font-size: 0.9em;
    line-height: 1.3;
    margin-bottom: 0.5em;
    margin-left: 4.3em;
    width: 80%;
}

#userMapsPanel input[type=button] {  
	background-color: #B8D8F0;
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    color: #2676AE;
    font-family: 'Open Sans';
    font-size: 18px;
    margin:auto;
    padding: 0.3em 0.5em;}    


.save_complaint{float: left;
    padding-top: 1em;
    text-align: center;
    width: 100%;
    padding-bottom: 1em;}   
    
/************ PUBLIC MAPS ************/
#publicMaps {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
}

#publicMaps h4{   
    clear: both;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 18px;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 2%;
	padding-top: 0.1em;
    padding-left: 2.5em;
    text-align: left;
    width: 90%;
}

#publicMaps h2{   
    clear: both;
    background: #BDBDBD;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 18px;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 2%;
    margin-top: 0.5em;
    padding-left: 2.5em;
    padding-top: 0.5em;
    text-align: left;
    width: 95%;
    border-bottom: 1px solid;
}

#publicMaps h3 .title{   
    clear: both;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 18px;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 2%;
    margin-top: 0.5em;
    padding-left: 2.5em;
    padding-top: 0.2em;
    text-align: left;
    width: 90%;
}
.public_maps_icon{
	 background: url("../img/public_map_ico_mini.png") no-repeat scroll 0.6em 0.4em rgba(0, 0, 0, 0);
    padding-bottom: 0.3em;
}

.date span {color:#333; font-weight:bold;}

#publicMaps textarea{ 
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 10em;
    margin: 1em; 
    /* color: #2676AE; */
    padding: 0.5em;
	width: 98%;
	margin-left: 0.5em;
	font-family: 'Open Sans';
    font-size:18px;
	border-radius:3px!important;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	
#publicMaps p{
	color: #888888;
    font-family: 'Open Sans';
    font-size: 0.9em;
    line-height: 1.3;
    margin-bottom: 0.5em;
    margin-left: 1em;
    font-weight:bold;
}

#lastComplaints input[type=button] {  
	background-color: #B8D8F0;
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    color: #2676AE;
    font-family: 'Open Sans';
    font-size: 18px;
    margin:auto;
    padding: 0.3em 0.5em;}   
    
/************NEW MAP PANEL *********/
#new_map {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
}

#new_map h4{   
    clear: both;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 18px;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 2%;
    margin-top: 0.5em;
    padding-left: 2.5em;
    padding-top: 0.2em;
    text-align: left;
    width: 90%;
}

#new_map h2{   
  	background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 8px;
    clear: both;
    color: #666666;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-top: 0.5em;
    padding-top: 0.5em;
    text-align: center;
    width: 99%;
}

#new_map h3 .title{   
    clear: both;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 18px;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 2%;
    margin-top: 0.5em;
    padding-left: 2.5em;
    padding-top: 0.2em;
    text-align: left;
    width: 90%;
}

#new_map input[type=text] {
	
	background: url(../img/input_bg.png) no-repeat scroll 0.5em center #fff;
    border: 3px solid #DDD;
    height: 2.4em;
    margin: 0.5em;
    padding-left: 2.5em;
	width: 79%;
	font-family: 'Open Sans';
    font-size: 18px;
	border-radius:10px!important;
	box-shadow:none;
	text-align:left;
}

#new_map  textarea{ 
    background: none repeat scroll 0 0 #fff;
    border: 3px solid #DDD;
    height: 10em;
    margin: 1em; 
    /* color: #2676AE; */
    padding: 0.5em;
	width: 85%;
	margin-left: 0.5em;
	font-family: 'Open Sans';
    font-size:18px;
	border-radius:10px!important;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	box-shadow:none;
	}
	
#new_map p{
	color: #999999;
    font-family: 'Open Sans';
    font-size: 0.9em;
    line-height: 1.3;
    margin-bottom: 0.5em;
    margin-left: 4.3em;
    width: 80%;
}

#new_map input[type=button] {  
	background-color: #B8D8F0;
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    color: #2676AE;
    font-family: 'Open Sans';
    font-size: 18px;
    margin:auto;
    padding: 0.3em 0.5em;}    


.save_complaint{float: left;
    padding-top: 1em;
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
	height: 4em;}
    

input[type="file"] {	
	  background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #CCCCCC;
    border-radius: 10px !important;
    font-family: 'Open Sans';
    font-size: 14px;
    height: 2.4em;
    margin: 0.5em;
    padding-left: 0.5em;
    width: 88%;
}

 .sel-file {
	padding: 1px 5px;
	color: grey;
	font-family: 'Open Sans';
	font-size: 12px;
	width: 50%;
}

 .preview {
	padding: 1px 5px;
	width: 25%;
}

.response {
	padding-top: 30px;
}

.response>ul {
	list-style-type: decimal;
}

.response li {
	color: blue;
	font-size: smaller;
	padding-bottom: 5px; 
}

.progress {
	display: inline-block;
	width: 100px;	
	border: 3px groove #CCC;
}

.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}

/* for IE*/
.js-fileapi-wrapper {
	display: inline-block;
	vertical-align: middle;	
}

.ng-v {
	float: right;
}

.sel-file img {
	float: left;
	width: 18px;
	height: 18px;
	padding-right: 10px;
}

.sub {
	font-size: smaller;
	color: #777;
	padding-top: 5px;
	padding-left: 10px;
}    

/************LOGIN PANEL *********/
#login {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
}

#login input{
	
	background: url(../img/input_bg.png) no-repeat scroll 0.5em center #fff;
    border: 3px solid #DDD;
    height: 2.4em;
    margin: 0.5em;
    padding-left: 2.5em;
	width: 80%;
	font-family: 'Open Sans';
    font-size: 18px;
	border-radius:10px!important;
	box-shadow:none;
}

.form_remind{  background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 8px;
    color: #666666;
    float: left;
    font-family: Open sans;
    margin-left: 0.2em;
    margin-top: 2.5em;
    padding: 0.6em;
    text-align: center;
    width: 92%;}
	
.form_public{  background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 8px;
    color: #666666;
    float: left;
    font-family: Open sans;
    margin-top: 1em;
    padding: 0.6em;
    text-align: center;
    width: 94%;}
#login input[type="checkbox"]{height: auto;
    width: auto;}
	
.reminder{border:1px solid red;}

.panel_body{   
	height: 93%;
	width:100%;
    overflow-y: scroll;
 	background:#FFF;
 	float:left;
 	-webkit-overflow-scrolling: touch;
 	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.panel{ 
	float:left;
	left:0;
	height: 100%;
	margin-left:0;
	width:100%;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-overflow-scrolling: touch;
	position:fixed;
}

.dash_icon{
	background: url("../img/dashboard_icon.png") no-repeat scroll 1em 0.5em rgba(0, 0, 0, 0);
}
.login_icon{
	background: url("../img/profile_icon.png") no-repeat scroll 1em 0.5em rgba(0, 0, 0, 0);
}

.login_icon2{background:url("../img/login_icon.png") no-repeat scroll 0.6em 0.4em rgba(0, 0, 0, 0);}
.panel_header{
	width: 100%;
	background: #C63E28;
	height: 4.2em;    
	padding-top: 0.4em;
	float: left;
}

.panel_header2 h3{  
    color: #FFFFFF;
    float: left;
    font-family: 'Open Sans';
    font-size: 26px;
    padding-left: 2.6em;
    padding-top: 0.5em;
    
}

.panel_header h3{  
    color: #FFFFFF;
    float: left;
    font-family: 'Open Sans';
    font-size: 28px;
    padding-left: 2.6em;
    padding-top: 0.5em;
    margin-top: 0.2em;
}

.panel_option{
    float: left;
    margin: 0 0.81em;
    padding: 1em 0;
    width: 95%;}
	
#login h4{   
    clear: both;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 18px;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 2%;
    margin-top: 0.5em;
    padding-left: 2.5em;
    padding-top: 0.2em;
    text-align: left;
    width: 90%;
}

.open{
	color: #B45F04;
	font-family: 'Open Sans';
	
	background: url("../img/poi.png") no-repeat;
	padding-left: 1.5em;
	float: left;
}
.closed{
	color: #088A29;
	font-family: 'Open Sans';
	
	background: url("../img/success.png") no-repeat;
	padding-left: 1.5em;
	padding-top: 2px;
	float: left;
}

#login p{
	color: #999999;
    font-family: 'Open Sans';
    font-size: 0.9em;
    line-height: 1.3;
    margin-bottom: 0.5em;
    margin-left: 4.3em;
    width: 80%;
}

#login input[type=button] {  background-color: #B8D8F0;
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    color: #2676AE;
    font-family: 'Open Sans';
    font-size: 18px;
    margin:auto;
    padding: 0.3em 0.5em;}
	
.form_line{clear: both;
    float: left;
    width: 100%; }
    
.form_box_left{float: left;
    margin-left: 6em;
    padding-top: 1.3em;
    width: 30%;}
	
.form_box_right{ width:50%; float:left;}

.login_user{float: left;
    padding-top: 1em;
    text-align: center;
    width: 100%;
    padding-bottom: 1em;}

.panel_option  label{
	font-family: 'Open Sans';
    font-size: 16px; 
    color: #C63E28; 
    width:100%;}
    
.pdata {padding-bottom: 1.3em;
    padding-left: 0.5em;
    padding-top: 1.3em;}
    
.pdata label span{border-bottom: 1px dotted;}
    
.form_box_right a{border-bottom: 1px dotted;
    color: #C63E28;
    font-family: 'Open Sans';
    font-size: 16px;
    margin-left: 0.6em;
    padding-bottom: 0.1em;
    width: 100%;} 

/************END LOGIN PANEL *********/

/************MY PROFILE PANEL *********/
#my_profile,#new_user {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
}

#my_profile input[type=text], #new_user input[type=text] ,#new_user input[type=password],#my_profile input[type=password]{	
	background: url(../img/input_bg.png) no-repeat scroll 0.5em center #fff;
    border: 3px solid #DDD;
    height: 2.4em;
    margin: 0.5em;
    padding-left: 2.5em;
	width: 79%;
	font-family: 'Open Sans';
    font-size: 18px;
	border-radius:10px!important;
	box-shadow:none;
	text-align:left;
}

#poi_naming label{
    color: #C63E28;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    margin-left:-20px;
}

 #poi_naming input[type=text]{
	background: url(../img/input_bg.png) no-repeat scroll 0.5em center #fff;
    border: 3px solid #DDD;
    height: 2.4em;
    padding-left: 2.5em;
	width: 73%;
	font-family: 'Open Sans';
    font-size: 18px;
	border-radius:10px!important;
	box-shadow:none;
	text-align:left;
	margin-top:10px;
	padding-right:1em;
}

#edit_map_desc input[type=text]{
	background: url(../img/input_bg.png) no-repeat scroll 0.5em center #fff;
    border: 3px solid #DDD;
    height: 2.4em;
    padding-left: 2.5em;
	width: 82%;
	font-family: 'Open Sans';
    font-size: 18px;
	border-radius:10px!important;
	box-shadow:none;
	text-align:left;
	margin-top:10px;
	padding-right:10px;
}

 #poi_naming textarea{border: 3px solid #DDDDDD;
    border-radius: 7px;
    height: 164px;
    margin-top: 10px;
    width: 90%;
    margin-bottom:25px;}

.panel_body{   
	height: 93%;
	width:100%;
    overflow-y: scroll;
 	background:#f2f2f2;
 	float:left;
 	-webkit-overflow-scrolling: touch;
 	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.panel{ 
	float:left;
	left:0;
	height: 100%;
	margin-left:0;
	width:100%;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-overflow-scrolling: touch;
	overflow:hidden;
}

.dash_icon{
	background: url("../img/dashboard_icon.png") no-repeat scroll 1em 0.5em rgba(0, 0, 0, 0);
}
.profile_icon{
	background: url("../img/profile_icon.png") no-repeat scroll 1em 0.5em rgba(0, 0, 0, 0);
}

.edit_map_icon{
	background: url("../img/edit_map_name.png") no-repeat scroll 1em 0.5em rgba(0, 0, 0, 0);
}
.new_complaint_icon{
background: url("../img/new_map_ico_mini.png") no-repeat scroll 0.6em 0.2em rgba(0, 0, 0, 0);
}

.panel_header{
	width: 100%;
	 background: none repeat scroll 0 0 #BA2910;
    border-bottom: 3px solid #A12E37;
	height: 4.2em;    
	padding-top: 0.4em;
	float: left;
}

.panel_header2{
	width: 100%;
	background: none repeat scroll 0 0 #666;
    border-bottom: 3px solid #555;
	height: 3.5em;    
	float: left;
}


.panel_header h3{  

    color: #FFFFFF;
    float: left;
    font-family: 'Open Sans';
    font-size: 28px;
    padding-left: 2.6em;
    padding-top: 0.5em;
    margin-top: 0.2em;
	padding-bottom:0.2em;
}

.panel_option{
    float: left;
    margin: 0 0.61em;
    padding: 1em 0;
    width: 95%;}

.menu_back{ background: url("../img/menu_back.png") no-repeat scroll 0.5em 0.7em rgba(0, 0, 0, 0);
   
    float: left;
    height: 3.5em;
    width: 5em;}
	
#my_profile h4 , #new_user h4{   
    clear: both;
    color: #C63E28;
	font-family: 'Open Sans';
    font-size: 18px;
    height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 2%;
    margin-top: 0.5em;
    padding-left: 2.5em;
    padding-top: 0.2em;
    text-align: left;
    width: 90%;
}

.notification{background: url("../img/notification_ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
.threshold{background: url("../img/threshold_ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
.personal{background: url("../img/personal_ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}


.open{
	  background: url("../img/incident_small.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #B45F04;
    float: left;
    font-family: 'Open Sans';
    height: 3em;
	display:table;
    padding-left: 3em;
	font-weight:bold;
}

.closed{
	color: #088A29;
	font-family: 'Open Sans';
	
	background: url("../img/success.png") 0 center no-repeat;
	padding-left: 3em;
	padding-top: 2px;
	float: left;
	font-weight:bold;
	height: 3em;
	display:table;
}

.complaintImg {
    border-radius: 17px;
    height: auto;
    padding-left: 0.5em;
    width: 93%;
}

#my_profile p , #new_user p{
	color: #999999;
    font-family: 'Open Sans';
    font-size: 0.9em;
    line-height: 1.3;
    margin-bottom: 0.5em;
    margin-left: 4.3em;
    width: 80%;
}

#my_profile input[type=button] , #new_user input[type=button] {  background-color: #B8D8F0;
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    color: #2676AE;
    font-family: 'Open Sans';
    font-size: 18px;
    margin:auto;
    padding: 0.3em 0.5em;}
    

	
.form_line{clear: both;
    float: left;
    width: 100%; }
    
.form_box_left{float: left;
    margin-left: 6em;
    padding-top: 1.3em;
    width: 30%;}
	
.form_box_right{ width:50%; float:left;}

.save_profile{float: left;
    padding-top: 1em;
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
	height: 4em;}

.update_button{ 
	background: none repeat scroll 0 0 #C63E28;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    margin: auto;
    padding: 1em;
    width: 11em;}
	
.attach_button{ 
	background: url("../img/attach_bg.png") no-repeat scroll 1em center #666666;
    border-radius: 11px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    margin: 1em auto;
    padding: 1.3em 1em 1.3em 5em;
    width: 11em;}
    
/********* DISABLED STYLES FOR MY PROFILE *********/

.disabled p {color:#CCC!important;}

.disabled label {color:#CCC!important;}

.disabled .switch-candy a {background-color: #999999!important;}

.disabled .form_box_right a {color:#CCC;}

.disabled input[type="text"]{border:1px solid #CCC;}

.panel_option  label{
	font-family: 'Open Sans';
    font-size: 18px; 
    color: #C63E28;
	font-weight:bold;
    width:100%;}
    
.pdata {padding-bottom: 1.3em;
    padding-left: 0.5em;
    padding-top: 1.3em;}
    
.pdata label span{border-bottom: 1px dotted;}

.switcher{ margin-left:0.5em;}

.switcher_labeled{margin-left: 6.5em !important;
    margin-top: 1.6em;}
    
.form_box_right a{border-bottom: 1px dotted;
    color: #C63E28;
    font-family: 'Open Sans';
    font-size: 16px;
    margin-left: 0.6em;
    padding-bottom: 0.1em;
    width: 100%;}

	
.alert_label{  
    float: left;
    padding-top: 0.35em;
    width: 19.8em  !important;}
    
.float_right{float:right !important;}

.float_left{float:left !important;}

.margin1emtop{margin-top:1em;}

.margin2emtop{margin-top:2em;}

.margin2embottom{margin-bottom:2em !important;}

.margin5emleft {margin-left: 5.5em;}

.margin1emright{margin-right: 1em;}
	

/************END MY PROFILE PANEL *********/



@media only screen and (orientation:landscape)and
	(-webkit-min-device-pixel-ratio: 2) {
	.menu_option {
	/*	height: 9%;
		padding-top: 15%;*/
	}
}


/** control de tamaño de fuentes por resolucion **/

@media only screen and (orientation:landscape) and (max-width: 1024px){
	#info_data p {
		font-size: 0.8em!important;
	}	
}

.long_80pc{
	width:80%!important;	
}


/**** TOAST MESAGES *****/
#toast-container{margin:auto; top:40%; 
}

#toast-container .toast-info {color:#fff!important; 
font-family:'Open Sans';
font-size:1em;
font-weight:bold;
text-align:center;
background:#000 !important; 
box-shadow:none; 
width:16em!important; 
height:7em;
line-height: 1.6em;
padding:1em!important;}

.toast-close-button {display:none;}

#toast-container .toast-error {
	background:#990000!important;
	box-shadow:none; 
	width:16em!important; 
	height:7em;
	line-height: 1.6em;
	padding:1em!important;
	font-family:'Open Sans';
	font-size:1em;
	text-align:center;
	}
	
#toast-container > .toast-error {background:#990000!important; background-image:none!important;}

/*MEDIA QUERIES*/

@media only screen and (device-width: 768px) and (device-height: 1024px) and (min-aspect-ratio: 4/3) {
    
    .panel_body{   
	height: 93%; 
 	}
 	
    .node_input_add select {
    float: left;
    margin-right: 0 !important;
    width: 85% !important;
	}

	
	.panel_option {
		padding: 1em 0;
	}
	#my_profile p , #new_user p {
		width: 85%;
		margin-left: 4.85em;
	}
	#upper_bar {
		width: 50%;
	}
	#route_upper_bar {
		width: 50%;
	}
	#bottom_shadow {
		background: none;
	}
	#swipper {
		display: none;
	}
	#marker_info {
		width: 50%;
		height: 0;
		margin-left: 2em;
		top: 4em;
		border-radius: 5px;
	}
	
	.close_info {margin-top:-3.8em;}
	
	.position1 {
		top: 10em;
		left: 50em;
	}
	#route_pop {
		width: 50%;
		height: 0;
		margin-left: 2em;
		top: 4em;
		border-radius: 3px;
	}
	#bottom_route_panel {
		border-radius: 5px 5px 5px 5px;
		margin-left: 2em;
		top: 4em;
		width: 50%;
		height: 10em;
	}
	.position1 {
		top: 10em;
		left: 50em;
	}
	#info_box {
		border-radius: 3px 3px 0 0;
	}
}
@media only screen and (min-device-width: 1600px) and (orientation:landscape) {
	.panel_body{   
	height: 93%; 
 	}
 	
    .node_input_add select {
    float: left;
    margin-right: 0 !important;
    width: 85% !important;
	}

	
	.panel_option {
		padding: 1em 0;
	}
	#my_profile p , #new_user p {
		width: 85%;
		margin-left: 4.85em;
	}
	#upper_bar {
		width: 50%;
	}
	#route_upper_bar {
		width: 50%;
	}
	#bottom_shadow {
		background: none;
	}
	#swipper {
		display: none;
	}
	#marker_info {
		width: 50%;
		height: 0;
		margin-left: 2em;
		top: 4em;
		border-radius: 5px;
	}
	.position1 {
		top: 10em;
		left: 50em;
	}
	#route_pop {
		width: 50%;
		height: 0;
		margin-left: 2em;
		top: 4em;
		border-radius: 3px;
	}
	#bottom_route_panel {
		border-radius: 5px 5px 5px 5px;
		margin-left: 2em;
		top: 4em;
		width: 50%;
		height: 10em;
	}
	.position1 {
		top: 10em;
		left: 50em;
	}
	#info_box {
		border-radius: 3px 3px 0 0;
	}
	}
	
	@media only screen and (min-device-width: 1240px) and (orientation:landscape) {
	.panel_body{   
	height: 93%; 
 	}
 	
    .node_input_add select {
    float: left;
    margin-right: 0 !important;
    width: 85% !important;
	}

	
	.panel_option {
		padding: 1em 0;
	}
	#my_profile p {
		width: 85%;
		margin-left: 4.85em;
	}
	#upper_bar {
		width: 50%;
	}
	#route_upper_bar {
		width: 50%;
	}
	#bottom_shadow {
		background: none;
	}
	#swipper {
		display: none;
	}
	#marker_info {
		width: 50%;
		height: 0;
		margin-left: 2em;
		top: 4em;
		border-radius: 5px;
	}
	.position1 {
		top: 10em;
		left: 50em;
	}
	#route_pop {
		width: 50%;
		height: 0;
		margin-left: 2em;
		top: 4em;
		border-radius: 3px;
	}
	#bottom_route_panel {
		border-radius: 5px 5px 5px 5px;
		margin-left: 2em;
		top: 4em;
		width: 50%;
		height: 10em;
	}
	.position1 {
		top: 10em;
		left: 50em;
	}
	#info_box {
		border-radius: 3px 3px 0 0;
	}
	}
	
/***** MEDIA QUERIES FOR IPHONE ****/

@media only screen and (width : 320px){
	.panel_header h3 {
   font-size: 24px;
    padding-bottom: 0.5em;
    padding-top: 0.6em;
}

#map_name_title {padding-top:1em;}
#map_name_tools {padding-top:1em;}
.logo_dcha{padding: 1.6em 0.8em 0.6em;}
.panel_option {margin: 0 0.21em; padding:0.3em 0;}
.panel_header{padding-top:1em!important;}
.form_remind{margin-top:1.5em!important;}
.form_remind div > label:nth-of-type(1) {font-size:11px!important;}
.save_profile {padding-bottom:3em;}

.comment{margin-left:0.8em;}
.tool_desc{font-size:11px !important;}

.tool_title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px;
}
.help_title{font-size:16px;}

.help_box{padding-bottom: 10px!important;
    padding-top: 10px!important;}
    
.remind_label{font-size:12px !important;}

}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	#upper_bar {top:1em; left:0; width:16em; margin-left:0.5em;}
	
#upper_bar input { width: 73%; padding-left:0.5em;}



#info_box {
    background: url("../img/app_icon_marker.png") no-repeat scroll 0.4em 0.5em #FFFFFF;
    
}

#my_location_btn {bottom: 1em;
    height: 2.6em;
    right: 0.5em;
    width: 2.6em;
	z-index:100;
	 border-radius: 6px;}

#boton_despliega {bottom:1em;}

#info_box h3 {padding-left:3.2em; padding-top: 0.8em; font-size:1em;}
.marker_threshold span {display:none;}


.text_result{padding: 0 1em;
    text-align: center;
    width: auto;}
.marker_threshold {border-right: 1px solid #CCCCCC;padding-right: 0.5em;}

.comment p {margin-left:0; width: 92%;}
#info_data p {font-size:0.7em; margin-left: 0.1em;}
.bar_box {
    border: medium none;
    height: 0.5em;
    margin-top: 0.2em;
    width: 7em;
    margin-bottom: 0.2em;
}
.info_bar {
	margin-bottom: 0.5em;
    float: left;
    margin-left: 5%;
    width: 45% !important;
}


#info_social {
    height: 11.5em;
    -webkit-overflow-scrolling: touch;
    	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

#comment_post {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    height: 100%;
    margin: auto;
    top: 0;
    width: 100%;
}
.rating-star {width:60px;}
#comment_post textarea {height:17em;}
.comments_wrap {overflow:hidden;}
.panel_body {width:99%;}
.form_box_left {width:100%; margin-left:0; text-align:center;}
.form_box_right {width:100%;}
#my_profile p , #new_user p{ margin-left:0; width:auto;}
.panel_option input[type="text"] {width:93%; margin: 0.5em 0; text-align: center;}
#my_profile h4 , #new_user h4{margin-left:0;padding-left: 2em; margin-top:0;}
.area_div_box {width:2.6em;}
.switcher_labeled {margin-top:1em;}
.alert_label{width:auto;}
.alerts_option {margin-left:0;}
.alerts_option {width:92%; height:auto;}



.panel_header{padding-top:0em; height:3.6em;
}
.panel_header h3 {margin-top:0em;}
.popup_closer{ padding: 1em 0 0.5em 0.2em;}
.margin5emleft {
    margin-left: 5.5em;
}

.switch-light label, .switch-light > span, .switch-toggle label, .switch-toggle > span {
   
    left: -112px!important;
    line-height: 30px;
    padding-left: 2em;
    vertical-align: middle;
}
#marker_info{z-index:95;}

.panel_option{overflow:hidden;}



}

.decoded {border:3px solid #CCC; width:99%; height:auto;}
.remind_label{  width:auto!important; margin:0; padding:0; font-size:14px!important; float:left; margin-top:7px; color:#666!important;}
.switch-candy {float:right!important;}
.olPopupCloseBox {
  background: url("../img/close.gif") no-repeat;
  cursor: pointer;
  height: 22px !important;
    width: 22px !important;
}	


.form_box_left label span {color:#666; font-size:14px;}

#poi_aim{position:fixed; width:121px; height:121px; top:50%; background:url(../img/crosshair.png) no-repeat;
z-index:200; left:50%; margin-left:-60px; margin-top:-60px; pointer-events: none;}


#OpenLayers_Map_5_OpenLayers_ViewPort {position:fixed;}

#help_screen{
	background-color: rgba(00, 00, 00, 0.8);
	color: rgba(00, 00, 00, 0.7);
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	z-index:3000;
	color:#FFF;
	font-family:Open Sans;}
	
#policy_screen{
	background-color: rgba(00, 00, 00, 0.8);
	color: rgba(00, 00, 00, 0.7);
	position:absolute;
	width:100%;
	height:100%;
	overflow:auto;
	padding-bottom:10px;
	top:0;
	z-index:3000;
	color:#FFF;
	font-family:Open Sans;}
	
	
	
#delete_screen{
	background-color: rgba(00, 00, 00, 0.6);
	color: rgba(00, 00, 00, 0.7);
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	z-index:3000;
	
	font-family:Open Sans;}
	
.delete_box{ background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px #FFFFFF;
    margin-left: 6%;
    margin-top: 50%;
    padding: 7% 4%;
    text-align: center;
    width: 78%;}
    
 .delete_box .new_poi_buttons{width:100%!important;}
.map_to_delete{font-weight: bold;
    margin-top: 15px;
    padding-bottom: 10px;}
#start_screen{
	background-color: rgba(00, 00, 00, 0.8);
	color: rgba(00, 00, 00, 0.7);
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	z-index:3000;
	color:#FFF;
	font-family:Open Sans;}


.help_box{border-top: 1px solid #aaa;
    margin-left: 5%;
   padding-bottom: 20px;
    padding-top: 15px;
    width: 90%;
    float:left;}
    
 .policy_box{border-top: 1px solid #aaa;
    margin-left: 5%;
   padding-bottom: 20px;
    padding-top: 15px;
    width: 90%;
   }
    
.help_title{ font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 5%;
    margin-top: 1em;
    text-align: center;
    width: 90%;}    
.start_title{ font-size: 45px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 2em;
    text-align: center;
    width: 90%;}  
    
.start_subtitle{ font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.8em;
    margin-left: 5%;
    margin-top: 2em;
    text-align: center;
    width: 90%;}   
 
.tips{ line-height: 24px;
    margin-bottom: 1em;
    margin-left: 5%;
    text-align: center;
    width: 90%;}

.tool_title{font-weight:bold; margin-bottom:10px;}
.tool_desc{font-size: 13px;
    line-height: 18px;}
.help_icon{ float:left;width:20%; text-align:center;}
.help_text{ float:left; width:77%;}
.policy_text{float:left; width:98%; }
.policy_text p {margin-bottom:10px; text-align:justify;}
.policy_text ul li {font-size:11px; margin-bottom:5px;}

.start{background: none repeat scroll 0 0 #BA2910;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 1em;
    padding: 5%;
    text-align: center;
    width: 50%;
    border-radius:5px;}
    
 .refuse{background: none repeat scroll 0 0 #666;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 1em;
    padding: 5%;
    text-align: center;
    width: 50%;
    margin-bottom:16px;
    border-radius:5px;}