<!-- LOGIN -->
<div ng-controller="loginCtrl">
	<div id="login">
		<div class="panel">
			<div class="panel_header">
				<h3 class="login_icon2">Acceso usuarios</h3>
				<div class="popup_closer" ng-click="closePanelWithId('login')"></div>
			</div>

			<div class="panel_body">
				<form name="loginForm" enctype="multipart/form-data" method="post">
					<div class="panel_option">

						<div class="form_line">
							<div class="form_box_left">
								<label>Email:</label>
							</div>
							<div class="form_box_right">
								<input type="email" ng-model="loginData.email" required />
							</div>
						</div>
						<div class="form_line">
							<div class="form_box_left">
								<label>Password:</label>
							</div>
							<div class="form_box_right">
								<input type="password" ng-model="loginData.password" required />
							</div>
						</div>
						<div class="form_remind">
							<div>
								<label class="remind_label">Recordar contrase&ntildea:</label>
								<toggle-switch style="align-rigth" model="rememberLoginData"
									on-label="Sí" off-label="No"> <toggle-switch>
							</div>
						</div>

					</div>


					<div class="save_profile">
						<div class="update_button" ng-click="userLogin()">Entrar</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
