<div ng-controller="MainCtrl">

	<div id="my_location_btn" ng-click="geolocateMe()" class="my_location_btn_normal"></div>

	<!-- SACAR A UN PARTIAL  -->
	<div id="map_name" ng-show="selectedMap.title != undefined">
		<div id="map_name_title">
			<p class="titulo_poi">
				{{selectedMap.title}}
			</p>
			<img class="logo_dcha" src="img/edit_map.png" ng-show="isMapEditable && account_id" ng-click="activateMapEditMode()"/>
		</div>
		<div id="poi_info" ng-show="selectedPoi.title != undefined && !isMapEditModeActivated">
			<p class="poi_title">
				{{selectedPoi.title}}
			</p>
			<p class="poi_description">
				{{selectedPoi.description}}
			</p>
			<!--  <img class="close_detail" src="./img/close_poi_detail.png"/>-->
		</div>
	</div>

	<!-- SACAR A UN PARTIAL  -->
	<div id="edit_map" ng-show="isMapEditModeActivated">
		<div id="map_name_tools">
			<p>
				{{selectedMap.title}}
			</p><img class="logo_dcha" src="img/close_popup_button.png" ng-show="selectedPoi == null" ng-click="deactivateMapEditMode()"/>

		</div>
		<div id="edit_tools" ng-show="(isNewPoiToolEnabled == false || isNewPoiToolEnabled == undefined) && selectedPoi == null">
			<div class="tool create" ng-click="showNewPoiTool()"></div>
			<div class="tool settings"  ng-show="isMapEditable && isUserPanel && selectedMap.owned" ng-click="showEditMapPanel()"></div>
			<div class="tool save" ng-click="updateMap(selectedMap)"></div>
			<div class="tool help" ng-click="showHelpPanel()"></div>
		</div>

		<div id="poi_set" ng-show="isNewPoiToolEnabled && selectedPoi == null">
			<p class="poi_set_instruction">
				Establezca el puntero en el lugar deseado de la pantalla y pulse OK para añadir un POI
			</p>

			<div class="new_poi_buttons cent">
				<a class="poi_accept" href="#"  ng-click="addNewPoi()">Establecer</a>
				<a class="poi_discard" href="#" ng-click="cancelNewPoi()">Cancelar</a>
			</div>
		</div>
		<div id="poi_naming" ng-show="selectedPoi != null && isMapEditModeActivated">

			<div class="form_line">
				<div class="form_box_left">
					<label>Nombre del POI:</label>
				</div>
				<div class="form_box_right">
					<input type="text"  ng-model="selectedPoi.title" />
				</div>
			</div>

			<div class="form_line">
				<div class="form_box_left">
					<label>Descripción:</label>
				</div>
				<div class="form_box_right">
					<textarea ng-model="selectedPoi.description"></textarea>
				</div>
			</div>
			<div class="new_poi_buttons cent">
				<a ng-show="selectedPoi.updateable" class="poi_accept" ng-click="updateSelectedPoi()" >Guardar</a>
				<a ng-show="selectedPoi.updateable" class="poi_discard" ng-click="deleteSelectedPoi()" >Borrar POI</a>
				<a ng-show="!selectedPoi.updateable" class="poi_accept" ng-click="closePoiInfoPanel()">Cerrar</a>
			</div>
		</div>
	</div>
</div>

<div id="poi_aim" ng-show="isNewPoiToolEnabled"></div>

</div>

<!-- Swipeable menu -->
<div ng-include src="'partials/nav.html'" menu-panel></div>

<!-- New Map -->
<div ng-include src="'partials/newMap.html'" nmap-panel></div>

<!-- Edit map -->
<div ng-include src="'partials/edit_map.html'" nmap-panel></div>

<!-- My Complaints -->
<div ng-include src="'partials/userMapsPanel.html'" user-maps-panel></div>

<!-- Public Maps -->
<div ng-include src="'partials/publicMapsList.html'" public-maps-list-panel></div>

<!-- My profile -->
<div ng-include src="'partials/profile.html'" profile-panel></div>

<!-- New user -->
<div ng-include src="'partials/newUser.html'" new-user-panel></div>

<!-- Login -->
<div ng-include src="'partials/login.html'" login-panel></div>

<!-- Login -->
<div ng-include src="'partials/poiInfoPanel.html'" poi-info-panel></div>

<!-- Help -->
<div ng-include src="'partials/help.html'" help-info-panel></div>

<!-- Privacy --> 
<div ng-include src="'partials/privacy.html'" privacy-info-panel></div>



<!-- Delete dialog-->
<div ng-include src="'partials/delete_dialog.html'" delete-dialog-panel></div>

<!-- MAP directive -->
<div zaragoza-map></div>