<!-- NEW MAP -->
<div ng-controller="newMapCtrl">
	<div id="new_map">
		<div class="panel">
			<div class="panel_header">
				<h3 class="new_complaint_icon title">Nuevo mapa</h3>
				<div class="popup_closer" ng-click="closePanelWithId('new_map')"></div>
			</div>

			<div class="panel_body">
				<form name="newMapForm" enctype="multipart/form-data" method="post">
					<div class="panel_option">

						<div class="form_line">
							<div class="form_box_left">
								<label>Nombre del mapa:</label>
							</div>
							<div class="form_box_right">
								<input type="text" ng-model="newMapData.title" name="mapTitle"
									required />
							</div>
						</div>

						<div class="form_public">
							<div>
								<label class="remind_label">¿Hacer el mapa
									p&uacuteblico?</label>
								<toggle-switch style="align-rigth" model="publicMap"
									on-label="Sí" off-label="No"> <toggle-switch>
							</div>

						</div>

						<div class="form_public">
							<div>
								<label class="remind_label">¿Mapa colaborativo?</label>
								<toggle-switch style="align-rigth" model="collaborativeMap"
									on-label="Sí" off-label="No"> <toggle-switch>
							</div>
						</div>
					</div>

					<div class="save_complaint">
						<div class="update_button" ng-click="createNewMap(newMapData)">
							Crear mapa</div>
					</div>
				</form>

			</div>

		</div>

	</div>
</div>

