<!-- COMPLAINT LIST -->
<div ng-controller="userMapsCtrl">
	<div id="userMapsPanel">
		<div class="panel">
			<div class="panel_header">
				<h3 class="userMapsPanel title">Mis mapas</h3>
				<div class="popup_closer" ng-click="closePanelWithId('userMapsPanel')" ></div>
			</div>
			<div class="panel_body">
				<form name="complaintForm" novalidate>
					<div class="panel_option">
						<h4 class="personal">Listado de mapas</h4>

						<div class="comment" ng-repeat="map in userMaps | orderBy:'-lastUpdated'" ng-click="showUserMap(map)">
							<div class="map_name_list">
								<p class="complait_title">
									{{map.title}}
								</p>
							</div>
							<div ng-click = "showDeleteMapDialog(map.id)" class="delete_map" ng-show="map.owned"><img src="img/delete_map.png" /></div>
							<p>
								<div class="date">
									<span>Tipo :</span> {{translateMapType(map.type)}}
								</div>
								<div class="date">
									<span>Ultima actualización :</span> {{map.lastUpdated | date:'dd/MM/yyyy - HH:mm'}}
								</div>
							</p>
						</div>

					</div>
				</form>
			</div>

		</div>
	</div>
</div>
